@font-face 
{
  font-family: "angelina";
  src:
    url("fonts/angelina.otf") format("otf");
}


body 
{
  background-color: rgb(255, 251, 242);
  font-family: "angelina", Courier, monospace;
}


a:link 
{
  color: rgb(111, 73, 44);
  text-decoration: none;
}


a:hover 
{
  color: rgb(232, 239, 25);
  text-decoration: underline;
}

a:active 
{
  color: rgb(232, 239, 25);
  text-decoration: underline;
}

a:visited 
{
  color: rgb(111, 73, 44);
  text-decoration: none;
}


h1 
{
  font-size: 4em;
  line-height: 1.2em;
  
  text-transform: uppercase;
  letter-spacing: 0.1em;
  
  text-align: left;
}


figure img  
{
  width: 300px;
  float: right;
  margin: 200px;
}

main img 
{
  width: 50%; 
}


nav 
{
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
}