

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* 
{
  margin: 0px;
  padding: 0px;
}

body 
{
  background-color: rgb(255, 227, 246);
  padding: 20px;

  font-family: "Karla", sans-serif;
  /*  font-optical-sizing: auto; */
  font-size: 1em;
  font-weight: 300; /*200 - 800, de 100 em 100*/
  font-style: normal; /* italic */
}




a:link 
{
  color: rgb(255, 255, 255);
  text-decoration: none;
}


a:hover 
{
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

a:active 
{
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

a:visited 
{
  color: rgb(255, 255, 255);
  text-decoration: none;
}




h1 
{
  font-size: 4em;
  line-height: 1.2em;
  
  text-transform: uppercase;
  letter-spacing: 0.1em;
  
  text-align: center;
  margin-left: 2%;

 
  font-family: "Danfo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ELSH" ;
}


h3
{
  line-height: 1.5em;

  letter-spacing: 0.1em;
  
  text-align: left;
}

nav
{
color:rgb(196, 117, 215)
}

address
{
  line-height: 1.5em;

  letter-spacing: 0.1em;
  
  text-align: left;
  
  margin-top: 2%;
}

#project_container 
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2%;
  padding-top: 2%;
}

#project_container>figure 
{
  flex-basis: 32%;
}

#project_container>a
{
  flex-basis: 32%;
}

#project_container>a>article>figure 
{
  position: relative;
  display: grid;
  place-items: center center;
  margin-bottom: 4%;
}

#project_container>a>article>figure>figcaption
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center center;
}

#project_container>a>article>figure>figcaption:hover 
{
  background-color: rgba(0, 0, 0, 0.5);
}

#project_container>a>article>figure>img 
{
  width: 100%;
}

#project_container>.project_video 
{
  flex-basis: 100%;
  height: 750px;
  margin-bottom: 2%;
}


#project_container>figure>img 
{
  width: 100%;
}


#project_container>figure>iframe 
{
  width: 100%;
  height: 100%;
}


figcaption h3 
{
  text-align: center
}



main>img 
{
  width: 50%;
  float: right;
  margin: 10px; 
}


#nav_container 
{
  display: flex;
  justify-content: flex-end;
}

nav 
{
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;

  color: rgb(196, 117, 215);
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) 
{
  body 
  {
    /*background-color: red;*/
    font-size: 0.3em;
  }

  #project_container>a  
  {
    flex-basis: 49%;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  body 
  {
    /*background-color: green;*/
    font-size: 0.8em;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) 
{
  body 
  {
    background-color: blue;
  }
}*/


/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) 
{
  body 
  {
    background-color: white;
  }
}*/